{% extends 'dashboard/base.html' %}

{% block load %} 
<body>
{% endblock %}

{% block dashboard_title %} 
    Dashboard :: Settings
{% endblock %}

{% block buttons %} 
{% endblock %}

{% block content %} 
<div id="messageContainer">
</div>
<form>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Username</span>
    <input type="text" class="form-control" id="username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon2">Current password</span>
    <input type="password" class="form-control" id="password" aria-describedby="basic-addon2">
</div>
<button type="submit" class="btn btn-primary" onclick="return changeUsername();">Save settings</button>
</form>
{% endblock %}

<!-- Dirty hack for active pages -->
{% block settings %}
active
{% endblock %}